<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control", rows: 4 %>
    <% if message.errors[:body].any? %>
      <div class="text-danger"><%= message.errors[:body].join(', ') %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :user_id, "From User", class: "form-label" %>
    <%= form.collection_select :user_id, User.all, :id, ->(user) { "#{user.first_name} #{user.last_name}" },
        { prompt: "Select a user" }, { class: "form-select" } %>
    <% if message.errors[:user_id].any? %>
      <div class="text-danger"><%= message.errors[:user_id].join(', ') %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :chat_id, "In Chat", class: "form-label" %>
    <%= form.collection_select :chat_id, Chat.all, :id,
        ->(chat) { "Chat between #{chat.sender.first_name} and #{chat.receiver.first_name}" },
        { prompt: "Select a chat" }, { class: "form-select" } %>
    <% if message.errors[:chat_id].any? %>
      <div class="text-danger"><%= message.errors[:chat_id].join(', ') %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>